:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/*wirkt bei allen <button>-Elementen*/
button {
   /*Legt einen Rahmen mit 1 Pixel Breite, durchgehend (solid), aber unsichtbar an */
  border: 1px solid transparent;
  background-color: #166762;
  /*Textfarbe*/
  color: rgb(235, 236, 230);
  /*Wieviel Padding rund um Schrift -> beeinflusst Groesse des Buttons*/
  padding: 0.6em 1.2em;
  /*Runde Ecken*/
  border-radius: 0.5em;
  /*zenriert Text horizontal*/
  text-align: center;
  /*Sorg dafür, dass margin und padding korrekt greifen*/
  display: inline-block;
  /*Schriftgröße relativ zur aktuellen Schriftgröße bzw der des Elternelements. 1em = aktuelle Schriftgröße*/
  font-size: 1em;
  /*Steuert Dicke der Schrift 700=Fett*/
  font-weight: 500;
  /*Erbt Schriftart von Elternelement*/
  font-family: inherit;
  /*Wieviel Abstand der Button nach oben und zur Seite hält*/
  margin: 0.3em;
  /*veraendert aussehen des Mauszeigers beim hovern*/
  cursor: pointer;
  /*Animation des Rahmens über 0.25 sek*/
  transition: border-color 0.25s;
}

/*wirkt nur bei <button>-Elementen mit class="button-add"*/
.button-add {
  background-color: #28a745; 
}

.button-cancel {
  background-color: #ffc107; 
  color: black;
}

.button-delete {
  background-color: #dc3545; 
}

.button-edit {
  background-color: #007bff; 
}

.button-submit {
  background-color: #646cff;
}

button:hover {
  /* Vergrößert das Element um 5% */
  transform: scale(1.05); 
  /* Fügt einen Schatten hinzu */
  box-shadow: 0 0.3em 0.6em rgba(0, 0, 0, 0.1); 
  /*ändert Randfarbe*/
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Eingabefelder */
input, textarea, select {
  padding: 0.6em 0.8em;
  border-radius: 0.4em;
  border: 1px solid transparent;
  font-size: 1em;
  box-sizing: border-box;
  background-color: #3a3a3a;
  color: white;
  font-family: inherit;
  resize: vertical;
  transition:
    background-color 0.25s,
    border-color 0.25s;
}

input:focus {
  outline: none;
  background-color: #505050;
  border: 1px solid #646cff;
}

/* Formular */

.form-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 5px;
}

form div {
  display: flex;
  align-items: center;
  gap: 1em;
}

form label {
  width: 125px;
  text-align: right; 
}

form input {
  flex: 1; /* Rest ausfüllen */
  box-sizing: border-box;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgba(0, 0, 0, 0.87);
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    background-color: #000000;
  }
  a:hover {
    color: #747bff;
  }
}

.error {
  color: red;
  margin-top: 10px;
}
